{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered has-text-weight-bold">Your Forms</h1>
        {% if form_responses.items %}
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable is-bordered rounded-table">
                <thead>
                    <tr>
                        <th>Form Name</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in form_responses.items %}
                    <tr>
                        <td class="has-text-weight-semibold">
                            <div class="tooltip">
                                <span class="form-name">{{ response.form_name }}</span>
                                <span class="tooltip-text">{{ response.form_name }}</span>
                            </div>
                        </td>
                        <td class="has-text-centered">
                            <div class="buttons are-small">
                                <a href="{{ response.form_link }}" class="button is-primary is-outlined view-button">
                                    <span class="icon">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                    <span>View</span>
                                </a>
                                <a href="{{ url_for('update_form', form_id=response.form_id) }}" class="button is-info is-outlined edit-button">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                                <a href="{{ url_for('delete_form', form_id=response.form_id) }}" class="button is-danger is-outlined delete-button" onclick="return confirm('Are you sure you want to delete this form?')">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span>Delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if form_responses.pages > 1 %}
        <nav class="pagination is-centered mt-4" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% if form_responses.has_prev %}
                <li>
                    <a class="pagination-link" href="{{ url_for('dashboard_paginated', page=form_responses.prev_num) }}" aria-label="Previous page">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for page_num in form_responses.iter_pages() %}
                {% if page_num %}
                {% if page_num != form_responses.page %}
                <li>
                    <a class="pagination-link" href="{{ url_for('dashboard_paginated', page=page_num) }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link is-current" aria-current="page">{{ page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                {% endfor %}

                {% if form_responses.has_next %}
                <li>
                    <a class="pagination-link" href="{{ url_for('dashboard_paginated', page=form_responses.next_num) }}" aria-label="Next page">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {% else %}
        <p class="has-text-centered">No form responses found.</p>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script>
    // Set the initial theme based on the server-side value
    const initialTheme = '{{ session.get("theme", "light") }}';
    setTheme(initialTheme);
</script>
{% endblock %}