{% extends 'base.html' %}

{% block title %}Fill Form{% endblock %}

{% block content %}
    <h1 class="mb-4">Fill Form</h1>
    <form action="{{ url_for('fill_form', form_id=form_id) }}" method="POST" class="mb-3">
        {% for cell in selected_cells %}
            <div class="form-group">
                <label for="{{ cell }}">{{ cell }}</label>
                <input type="text" name="{{ cell }}" id="{{ cell }}" class="form-control">
            </div>
        {% endfor %}
        <input type="hidden" name="unique_filename" value="{{ unique_filename }}">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}
