<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var uniqueFilename = '';

        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        var tableData = data.table_data;
                        uniqueFilename = data.unique_filename;
                        var selectElement = '<select name="selected_cells" multiple>';
                        for (var i = 0; i < tableData.length; i++) {
                            var row = tableData[i];
                            for (var j = 0; j < row.length; j++) {
                                var cellText = row[j];
                                selectElement += '<option value="' + cellText + '">' + cellText + '</option>';
                            }
                        }
                        selectElement += '</select>';
                        $('#table-data').html(selectElement);
                        $('#submit-cells').show();
                    }
                });
            });

            $('#submit-cells').click(function() {
                var selectedCells = $('select[name="selected_cells"]').val();
                $.ajax({
                    url: '/create_form',
                    type: 'POST',
                    data: JSON.stringify(selectedCells),
                    contentType: 'application/json',
                    success: function(data) {
                        $('#dynamic-form').html(data);
                    }
                });
            });

            $(document).on('submit', '#dynamic-form form', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                formData += '&unique_filename=' + encodeURIComponent(uniqueFilename);
                $.ajax({
                    url: '/fill_data',
                    type: 'POST',
                    data: formData,
                    success: function(data) {
                        var downloadLink = '<a href="' + data.file_url + '" download>Download Modified File</a>';
                        $('#download-link').html(downloadLink);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Upload a .docx File</h1>
    <form>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <div id="table-data"></div>
    <button id="submit-cells" style="display: none;">Submit Selected Cells</button>
    <div id="dynamic-form"></div>
    <div id="download-link"></div>
</body>
</html>