{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <style>
        .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        }
        .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        }
        form{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
        }
        #email{
            
        }
    </style>

    <div class="container m-0">
        <h1 class="title">Reset Password</h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
                <label class="label mb-2" for="email">{{ form.email.label }}</label>
                {{ form.email(class_='input is-primary mb-2', size=32) }}
                <input class="button is-primary mb-2" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
