{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if user %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(size=32) }}
            </div>
            <div>
                <label for="confirm_password">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(size=32) }}
            </div>
            <div>
                <input type="submit" value="Reset Password">
            </div>
        </form>
    {% else %}
        <p>Invalid or expired reset link.</p>
    {% endif %}
</div>
{% endblock %}
