{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <div class="card">
            <div class="card-content">
                <h1 class="title has-text-weight-bold">Unconfirmed Email</h1>
                <p class="content is-medium">
                    Please confirm your email address to fully activate your account. Check your email for the confirmation link. If you haven't received it, you can resend the confirmation email.
                </p>
            </div>
            <div class="card-footer" style="border-top: none;">
                <div class="card-footer-item">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="button is-primary is-rounded is-medium">Resend Confirmation Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}