{% extends 'base.html' %}

{% block content %}
<style>
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }

</style>

<div>
    <h1 class="title mb-2">Unconfirmed Email</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <h1 class="is-size-5 mb-2">{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p class="is-size-5 mb-2">Please confirm your email address to access your account.</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <input class="button is-primary" type="submit" value="{{ form.submit.label.text }}">
        </div>
    </form>
</div>
{% endblock %}
