{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Unconfirmed Email</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Please confirm your email address to access your account.</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <input type="submit" value="{{ form.submit.label.text }}">
        </div>
    </form>
</div>
{% endblock %}
