{% extends 'base.html' %}

{% block title %}File Upload{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Upload a .docx File</h1>
        <div class="columns is-centered">
            <div class="column is-half">
                <form id="uploadForm" enctype="multipart/form-data">
                    <div class="field has-text-centered">
                        <div class="file has-name is-boxed is-centered">
                            <label class="file-label">
                                <input type="file" id="fileInput" name="file" class="file-input" onchange="displayFileName()">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label" id="fileLabel">Choose a file...</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="field has-text-centered mt-4">
                        <div class="control">
                            <button type="submit" class="button is-primary">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-5">
            <div id="table-data"></div>
            <div id="options" style="display: none;" class="has-text-centered mt-4">
                <h2 class="title is-4">Do you want to:</h2>
                <div class="field">
                    <div class="control">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="send-email" name="send_email">
                            <span>Send modified files to email</span>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="custom-checkbox">
                            <input type="checkbox" id="allow-download" name="allow_download" checked>
                            <span>Allow visitors to download modified files</span>
                        </label>
                    </div>
                </div>
                <div class="has-text-centered mt-4">
                    <button id="submit-cells" class="button is-primary" style="display: none;">Submit Selected Cells</button>
                </div>
            </div>
            <div id="form-url" class="has-text-centered mt-4"></div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function displayFileName() {
        const fileInput = document.getElementById('fileInput');
        const fileLabel = document.getElementById('fileLabel');

        if (fileInput.files.length > 0) {
            fileLabel.innerText = fileInput.files[0].name;
        } else {
            fileLabel.innerText = 'Choose a file...';
        }
    }

    var uniqueFilename = '';
    var selectedCells = [];

    $(document).ready(function() {
        $('#uploadForm').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    var tableData = data.table_data;
                    uniqueFilename = data.unique_filename;
                    var tableHtml = '<table class="table is-bordered">';
                    tableHtml += '<thead><tr><th class="has-text-centered" colspan="2">Pick what you want in the form:</th></tr></thead><tbody>';
                    for (var i = 0; i < tableData.length; i++) {
                        var row = tableData[i];
                        for (var j = 0; j < row.length; j++) {
                            var cellText = row[j];
                            tableHtml += '<tr data-cell="' + cellText + '"><td class="has-text-centered"><label class="checkbox"><input type="checkbox" class="cell-checkbox" data-cell="' + cellText + '"></label></td><td>' + cellText + '</td></tr>';
                        }
                    }
                    tableHtml += '</tbody></table>';
                    $('#table-data').html(tableHtml);
                    $('#options').show();
                    $('#submit-cells').show();
                }
            });
        });

        $(document).on('click', 'tr', function(e) {
            if ($(e.target).hasClass('cell-checkbox')) {
                return;
            }

            var checkbox = $(this).find('.cell-checkbox');
            checkbox.prop('checked', !checkbox.prop('checked'));

            var cellText = checkbox.data('cell');
            var index = selectedCells.indexOf(cellText);
            if (checkbox.is(':checked')) {
                if (index === -1) {
                    selectedCells.push(cellText);
                    $(this).addClass('is-selected');
                }
            } else {
                if (index > -1) {
                    selectedCells.splice(index, 1);
                    $(this).removeClass('is-selected');
                }
            }
        });

        $('#submit-cells').click(function() {
            var sendEmail = $('#send-email').is(':checked');
            var allowDownload = $('#allow-download').is(':checked');
            $.ajax({
                url: '/create_form',
                type: 'POST',
                data: JSON.stringify({
                    selected_cells: selectedCells,
                    unique_filename: uniqueFilename,
                    send_email: sendEmail,
                    allow_download: allowDownload
                }),
                contentType: 'application/json',
                success: function(data) {
                    var formUrl = data.form_url + '?selected_cells=' + encodeURIComponent(selectedCells.join(',')) + '&unique_filename=' + encodeURIComponent(uniqueFilename);
                    var urlButton = '<a href="' + formUrl + '" class="button is-primary" target="_blank">Open your custom form</a>';
                    $('#form-url').html(urlButton);
                }
            });
        });
    });
</script>
{% endblock %}